# Data and Models
/data/raw/
/data/processed/train.csv
/data/processed/val.csv

# Keep test.csv and models for Streamlit Cloud deployment
!/data/processed/test.csv

# Logs and Audit
/logs/

# Python / Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Environments / IDE
.env
.venv/
env/
venv/
.DS_Store
.vscode/
.idea/
.kaggle/