# Data and Models
/data/raw/
/data/processed/
/models/

# Logs and Audit
/logs/

# Python / Cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/

# Environments / IDE
.env
.venv/
env/
venv/
.DS_Store
.vscode/
.idea/
.kaggle/